<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Candidart | {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('vacancies') }}">Vagas</a></li>
                <li><a href="{{ url_for('about') }}">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Star - Todos os direitos reservados</p>
            <div class="footer-links">
                <a href="#">Privacidade</a>
                <a href="#">Termos</a>
                <a href="#">Contacto</a>
            </div>
        </div>
    </footer>
    
</body>
</html>