{% extends "base.html" %}

{% block title %}Vagas{% endblock %}

{% block content %}
<section class="search-section">
    <div class="search-container">
        <input type="search" name="search" id="search" placeholder="Pesquisar vagas...">
    </div>
</section>

<section class="vacancies">
    {% for i in vagas %}
        <div class="card">
            <img src="{{ url_for('static', filename='img/' + i['logo']) }}" alt="{{ i['company_name'] }}">
            <div class="card-content">
                <h4><b>{{ i['company_name'] }}</b></h4>
                <p>{{ i['job_title'] }}</p>
                <p class="location">{{ i['location'] }}</p>
                <p class="salary">AO {{ i['salary_min'] }} - AO {{ i['salary_max'] }}</p>
                <a href="{{ url_for('apply', empresa=i['company_name'], post=i['id']) }}" class="btn btn-apply">Candidatar-me</a>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}